.fancy body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0px;
  padding: 0px;
}
.fancy {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-size: 11px;
  font-weight: bold;
}
.fancy * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.fancy-clearfix {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fancy-button {
  background-color: #5f83ad;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  -moz-transition: background-color 100ms linear, color 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
  line-height: 13px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  cursor: pointer;
}
.fancy-button:hover {
  background-color: #6d90b5;
}
.fancy-button:active {
  background: #5e80a5;
  border-bottom-color: #51749c;
  -webkit-box-shadow: inset 0 0 8px #20303e;
  -moz-box-shadow: inset 0 0 8px #20303e;
  box-shadow: inset 0 0 8px #20303e;
}
.fancy-button .fancy-button-text {
  padding-top: 7px;
}
.fancy-button-disabled {
  background-color: #dfe5ed;
  color: #627485;
}
.fancy-button-disabled:hover {
  background-color: #dfe5ed;
  color: #627485;
}
.fancy-button-disabled:active {
  background-color: #dfe5ed;
  color: #627485;
  box-shadow: none;
}
.fancy-field {
  height: 29px;
  padding: 8px 0 0 8px;
}
.fancy-field .fancy-field-label {
  color: #777;
  float: left;
  padding: 7px 10px 0 0;
}
.fancy-field .fancy-field-text {
  float: left;
}
.fancy-field .fancy-field-text-input {
  border: 1px solid #C3CBD4;
  background: #FFF;
  padding: 7px;
  margin: 0px;
  height: 13px;
  color: #2B587A;
  font: normal 11px/16px tahoma, arial, sans-serif;
}
.fancy-field .fancy-field-text-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
.fancy-field-not-valid .fancy-field-error {
  display: block;
}
.fancy-field-not-valid input {
  background: #ffe9e9 !important;
  border: 1px solid #f9d3d5 !important;
}
.fancy-field-blank-err input,
.fancy-field-blank-err textarea {
  background: #ffe9e9 !important;
  border: 1px solid #f9d3d5 !important;
}
.fancy-field-blank-err .fancy-field-error {
  display: block;
}
.fancy-field-error {
  display: none;
  color: #cf5a65;
  font-size: 10px;
  margin-left: 5px;
}
.fancy-combo.fancy-field-blank-err table {
  border: 1px solid #f9d3d5 !important;
}
.fancy-combo.fancy-field-blank-err input {
  border-width: 0px !important;
}
.fancy-field-html {
  padding: 8px 0 0px 8px;
}
.fancy-field-input-label {
  float: left;
  padding: 7px 10px 0 0;
  text-align: right;
  color: #555;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
}
.fancy-panel-shadow {
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
}
.fancy-panel {
  overflow: hidden;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  -o-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.fancy-panel .fancy-panel-header {
  color: #FFFFFF;
  height: 30px;
  text-decoration: none;
  cursor: default;
  font-size: 13px;
  background: #5780ab;
  border: 1px solid transparent;
}
.fancy-panel .fancy-panel-header-text {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 7px;
  border-top: 1px solid transparent;
}
.fancy-panel .fancy-panel-body {
  background-color: #F7F7F7;
  border: 1px solid #adbac7;
  background-color: white;
  overflow: hidden;
}
.fancy-panel .fancy-panel-bbar {
  padding-right: 3px;
  border-top: 1px solid #D9E0E7;
  height: 30px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #F7F7F7;
}
.fancy-panel .fancy-panel-bbar .fancy-button {
  margin-right: 10px;
  float: right;
  margin-top: 4px;
}
.fancy-panel .fancy-panel-tbar {
  padding-right: 3px;
  border-bottom: 1px solid #D9E0E7;
  height: 30px;
  width: 100%;
  background-color: #F7F7F7;
}
.fancy-panel .fancy-panel-tbar .fancy-button {
  margin-right: 10px;
  float: right;
  margin-top: 4px;
}
.fancy-panel .fancy-panel-tbar .fancy-toolbar-tab {
  float: left;
  margin-right: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-left: 4px;
  margin-top: 9px;
}
.fancy-panel-header-tools {
  position: absolute;
  right: 0px;
  top: 0px;
}
.fancy-tool-button {
  float: left;
  padding-top: 17px;
  padding-right: 10px;
  color: #C7D7E9;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
}
.fancy-tool-button:hover {
  color: #FFF;
}
.fancy-modal {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.2;
}
.fancy-textarea {
  height: auto !important;
}
.fancy-textarea .fancy-textarea-label {
  float: left;
  color: #777;
  font-size: 11px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  padding-top: 7px;
}
.fancy-textarea .fancy-textarea-text {
  float: left;
}
.fancy-textarea .fancy-textarea-text-input {
  padding: 7px;
  background: #FFF;
  color: #2B587A;
  border: 1px solid #C3CBD4;
  margin-top: 2px;
  font-family: Tahoma, Verdana, Arial, sans-serif, 'Lucida Sans';
  font-size: 11px;
  font-weight: normal;
  overflow: hidden;
  resize: none;
}
.fancy-textarea .fancy-textarea-text-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
.fancy-field-checkbox-input {
  float: left;
  width: 15px;
  height: 14px !important;
  margin: 7px 0px 0px 0px;
  margin-right: 5px;
  margin-bottom: 2px;
  background: url(images/check.gif) 0px 0px no-repeat;
  cursor: pointer;
}
.fancy-field-checkbox-input:hover {
  background-position: 0px -28px;
}
.fancy-checkbox-on .fancy-field-checkbox-input {
  background-position: 0px -14px;
}
.fancy-checkbox-on .fancy-field-checkbox-input:hover {
  background-position: 0px -42px;
}
.fancy-combo {
  position: relative;
}
.fancy-combo table {
  z-index: 0;
  border: 1px solid #c0cad5;
  margin: 0;
}
.fancy-combo input {
  background: #FFF;
  padding: 7px;
  margin: 0px;
  height: 13px;
  color: #2B587A;
  cursor: default;
  float: left;
  outline: 0;
  font: normal 11px/16px tahoma, arial, sans-serif;
  border: none;
}
.fancy-combo .fancy-combo-dropdown-button {
  z-index: 0;
  width: 16px;
  cursor: default;
  background: url(images/wide_dd.gif) #ffffff no-repeat center center;
  border: none;
  padding: 0px;
}
.fancy-combo-result-list {
  position: absolute;
  right: 0px;
  border: 1px solid #c0cad5;
  background-color: white;
  margin-top: -1px;
  z-index: 1;
}
.fancy-combo-result-list li {
  list-style-type: none;
  padding: 4px 0px 5px 10px;
  font: normal 11px/16px tahoma, arial, sans-serif;
  color: #2B587A;
  cursor: pointer;
}
.fancy-combo-result-list li.fancy-combo-list-active {
  background: #587DA1;
  color: #FFFFFF;
}
.fancy-combo-result-list ul {
  margin-bottom: 0px;
}
.fancy-field-radio-input {
  float: left;
  width: 15px;
  height: 14px !important;
  margin: 7px 0px 0px 0px;
  margin-right: 5px;
  margin-bottom: 2px;
  background: url(images/radio.gif) 0 0 no-repeat;
  cursor: pointer;
}
.fancy-field-radio .fancy-field-text {
  cursor: pointer;
}
.fancy-field-radio-column .fancy-field-text {
  height: 28px;
  float: none;
}
.fancy-field-radio .fancy-field-text:hover .fancy-field-radio-input {
  background-position: 0px -28px;
}
.fancy-field-radio .fancy-field-text {
  color: #2b587a;
  font-weight: normal;
}
.fancy-field-radio-on .fancy-field-radio-input {
  background-position: 0px -14px;
}
.fancy-field-radio-on:hover .fancy-field-radio-input {
  background-position: 0px -42px !important;
}
.fancy-field-set {
  padding: 0px 15px 0px 15px;
}
.fancy-field-set fieldset {
  border-top: 1px solid #bbb !important;
  background: #f6f6f6;
  border: 1px solid #d0d0d0;
  padding: 0px 15px 15px 15px;
  margin: 0 0 10px;
}
.fancy-field-set legend {
  padding: 5px 5px 5px 5px;
  line-height: 20px;
  border-width: 0px;
  margin-bottom: 0px;
  width: auto;
}
.fancy-field-set-label {
  font: 400 16px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: #919191;
  padding: 1px 0;
  font-size: 16px;
  font-weight: normal;
}
.fancy-set-collapsed fieldset {
  background: none;
  border-width: 1px 1px 0 1px;
  border-left-color: transparent;
  border-right-color: transparent;
}
.fancy-field-tab {
  display: none;
}
.fancy-field-tab-active {
  display: block;
}
.fancy-form {
  background-color: #F7F7F7;
  border: 1px solid #D9E0E7;
  overflow: hidden;
  position: relative;
}
.fancy-form-body {
  height: 100%;
}
.fancy-field-label-align-top .fancy-field-label {
  float: none;
  padding: 0px 10px 4px 2px;
}
.fancy-field-label-align-top.fancy-field {
  height: 43px;
}
.fancy-field-label-align-right .fancy-field-text,
.fancy-combo-text {
  float: left;
}
.fancy-field-label-align-right .fancy-field-label {
  padding-left: 8px;
}
.fancy-field-checkbox.fancy-field-label-align-right .fancy-field-label {
  padding-left: 2px;
}
.fancy-field-line-items .fancy-field {
  float: left;
  padding: 0px 0px 0px 11px;
}
.fancy-theme-blue .fancy-combo-list-active {
  background-color: #d9e1e9 !important;
  color: #2B587A !important;
}
.fancy-theme-blue .fancy-form {
  background-color: #F0F2F4;
}
.fancy-theme-blue .fancy-panel-tbar {
  background-color: #F0F2F4 !important;
}
.fancy-theme-blue .fancy-panel-bbar {
  background-color: #F0F2F4 !important;
}
.fancy-theme-blue .fancy-button-text {
  font-weight: normal;
}
.fancy-theme-blue .fancy-panel-header {
  background-color: #5B7FA6;
}
.fancy-theme-blue .fancy-field-checkbox-input {
  background-image: url(images/blue_check.png);
  background-size: 15px 75px;
  background-position: 0 0px;
  width: 15px;
  height: 15px !important;
}
.fancy-theme-blue .fancy-field-checkbox-input:hover {
  background-position: 0px -30px;
}
.fancy-theme-blue .fancy-checkbox-on .fancy-field-checkbox-input {
  background-position: 0px -15px;
}
.fancy-theme-blue .fancy-checkbox-on .fancy-field-checkbox-input:hover {
  background-position: 0px -45px;
}
.fancy-theme-blue .fancy-field-label {
  font-weight: normal;
  font-size: 11px;
}
.fancy-theme-blue .fancy-field-radio-input {
  background-image: url(images/blue_radio.png);
  background-size: 14px 70px;
}
.fancy-theme-light-blue {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.fancy-theme-light-blue .fancy-panel-header {
  background: #5fa2dd !important;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  border-radius: 0px;
}
.fancy-theme-light-blue .fancy-panel-header-text {
  font-size: 16px;
  font-weight: 400 !important;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  padding-top: 12px !important;
  padding-left: 14px !important;
}
.fancy-theme-light-blue .fancy-button {
  background-color: #5fa2dd;
  border-radius: 0;
  font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: #f0f0f0;
  border: 1px solid #5897CE;
}
.fancy-theme-light-blue .fancy-panel-bbar .fancy-button {
  margin-top: 7px;
}
.fancy-theme-light-blue .fancy-panel-tbar .fancy-toolbar-tab {
  margin-top: 14px;
}
.fancy-theme-light-blue .fancy-button:hover {
  background-color: #5795cb;
  border-color: #518bbd;
}
.fancy-theme-light-blue .fancy-button:active {
  border-color: #42719a;
  background-color: #477aa6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fancy-theme-light-blue .fancy-button-disabled {
  background-color: white;
  border-color: white;
  color: #5fa2dd;
}
.fancy-theme-light-blue .fancy-button-disabled:hover {
  background-color: white;
  border-color: white;
}
.fancy-theme-light-blue .fancy-form {
  background-color: #fff;
  border-color: #5fa2dd;
}
.fancy-theme-light-blue .fancy-field .fancy-field-label {
  color: #919191;
  font: 300 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.fancy-theme-light-blue .fancy-field .fancy-field-text-input {
  border: 1px solid #d0d0d0;
  font-size: 13px;
}
.fancy-theme-light-blue .fancy-field .fancy-field-text-input:focus {
  border-color: #3892d4;
}
.fancy-theme-light-blue .fancy-textarea .fancy-textarea-text-input {
  border: 1px solid #d0d0d0;
}
.fancy-theme-light-blue .fancy-textarea .fancy-textarea-text-input:focus {
  border-color: #3892d4;
}
.fancy-theme-light-blue .fancy-combo table {
  border: 1px solid #d0d0d0;
}
.fancy-theme-light-blue .fancy-combo table:hover {
  border: 1px solid #3892d4;
}
.fancy-theme-light-blue .fancy-combo-list-active {
  background: #5fa2dd;
  border-color: #5fa2dd;
}
.fancy-theme-light-blue .fancy-combo-result-list {
  border-color: #d0d0d0;
  background: #fff;
}
.fancy-theme-light-blue li.fancy-combo-list-active {
  background: #5fa2dd;
  border-color: #5fa2dd;
}
.fancy-theme-light-blue li {
  font-size: 12px;
  padding: 7px 0px 7px 10px;
}
.fancy-theme-light-blue .fancy-panel-bbar {
  background-color: #ececec;
}
.fancy-theme-light-blue .fancy-panel-tbar {
  background-color: #ececec;
}
.fancy-theme-light-blue .fancy-panel-body {
  border-color: #5fa2dd;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}
.fancy-theme-light-blue .fancy-combo input {
  font-size: 12px;
}
